<div class="card m-3 shadow bg-body rounded">
    <h5 class="card-header">
      Grupo de Produtos
    </h5>
    <div class="card-body">
  
      <table class="table table-bordered table-striped table-hover rounded-3">
        <thead class="table-dark">
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Grupo de Produtos</th>
            <th>
              <button class="btn btn-outline-primary btn-circle">
                <i class="fa fa-plus"></i>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of grupoProdutos">
            <td class="text-center">{{ item.id }}</td>
            <td class="text-center">{{ item.descricao }}</td>
            <td>
              <button class="btn btn-outline-primary btn-circle">
                <i class="fa fa-edit"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>
  
